<p id="notice"><%= notice %></p>

<h1>Budynki</h1>

<table>
  <thead>
    <tr>
      <th>Miejscowość</th>
      <th>Ulica</th>
      <th>Numer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if current_user.admin==true %>
      <% @builds.each do |build| %>
          <tr>
            <td><%= build.city %></td>
            <td><%= build.street %></td>
            <td><%= build.number %></td>
            <td><%= link_to 'Pokaż', build %></td>
            <td><%= link_to 'Edytuj', edit_build_path(build) %></td>
            <td><%= link_to 'Usuń', build, method: :delete, data: { confirm: 'Usunąć?' } %></td>
          </tr>
      <% end %>
  <% else %>
      <% @builds.each do |build| %>
          <tr>
            <td><%= build.city %></td>
            <td><%= build.street %></td>
            <td><%= build.number %></td>
            <td><%= link_to 'Pokaż', build %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Build', new_build_path %>
