<p id="notice"><%= notice %></p>

<h1>Rezerwacje</h1>

<%= form_tag("/reservations", method: "get") do %>
    <%= label_tag(:q, "Sala:") %>
    <%= select_tag(:room_id, options_from_collection_for_select(@rooms, :id, :room_adres, params[:room_id]), :onchange => "this.form.submit()") %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Początek rezerwacji</th>
      <th>Koniec rezerwacji</th>
      <th>Sala</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if current_user.admin==true %>
      <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.date_start %></td>
            <td><%= reservation.date_stop %></td>
            <td><%= reservation.room.room_adres %></td>
            <td><%= link_to 'Pokaż', reservation %></td>
            <td><%= link_to 'Edytuj', edit_reservation_path(reservation) %></td>
            <td><%= link_to 'Usuń', reservation, method: :delete, data: { confirm: 'Usunąć?' } %></td>
          </tr>
      <% end %>
  <% else %>
      <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.date_start %></td>
            <td><%= reservation.date_stop %></td>
            <td><%= reservation.room.room_adres %></td>
            <td><%= link_to 'Pokaż', reservation %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
