<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Numer</th>
      <th>Typ sali</th>
      <th>Budynek</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if current_user.admin==true %>
      <% @rooms.each do |room| %>
          <tr>
            <td><%= room.number %></td>
            <td><%= room.type.name %></td>
            <td><%= room.build.city %></td>
            <td><%= room.build.street %></td>
            <td><%= room.build.number %></td>
            <td><%= link_to 'Pokaż', room %></td>
            <td><%= link_to 'Edytuj', edit_room_path(room) %></td>
            <td><%= link_to 'Usuń', room, method: :delete, data: { confirm: 'Usunąć?' } %></td>
          </tr>
      <% end %>
  <% else %>
      <% @rooms.each do |room| %>
          <tr>
            <td><%= room.number %></td>
            <td><%= room.type.name %></td>
            <td><%= room.build.city %></td>
            <td><%= room.build.street %></td>
            <td><%= room.build.number %></td>
            <td><%= link_to 'Pokaż', room %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
