<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @room.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @room.type_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @room.room_id %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
