<!DOCTYPE html>
<html>
<head>
  <title>Rezerwacja sal</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= value %>
    </div>
<% end %>

<%= link_to "Rezerwacje sal", reservations_path, :method => :get %>
<%= link_to "Budynki", builds_path, :method => :get %>
<%= link_to "Sale", rooms_path, :method => :get %>
<%= link_to "Typy sal", types_path, :method => :get %>
<%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %>
<%= link_to 'Login', new_user_session_path %>

<%= yield %>

</body>
</html>